/tarea_2a/planetas/lib

/tarea_2b/mano/lib
/tarea_2b/planetas/lib
/tarea_2b/humanoide/.vs

/tarea_3a/Cubo_freeglut/.vs

/tarea_3b/Toon_Shader/lib
/tarea_3b/Phong_Shader/lib
/tarea_3b/Wobble_Shader/lib